#Body
{
    text-align: center;
    margin: 10%;

}
p{
    margin: 10%;
}
#Logo
{
width: 40%;
}
#wrapper
{
  height: 100vh;
}
#outlet
{
  margin-top: 17%;
  background-color: #f2f2f2;
  height: 100%;  width:100%;
}

#Header
{
  overflow: hidden;
  top:0;
  position: fixed;
  width: 100%;
}